@import "./vars.scss";

.toolbar, .settingbar {
    height: $toolbar-height;
    background-color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    z-index: 100;
    padding: 0 10px;
}

.settingbar {
    top: $toolbar-height;
    z-index: 99;
}

.toolbar__btn {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px;
}

.toolbar__btn:hover, .active {
    background-color: #bbbbbb;
}