@import "./vars.scss";

.canvas {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 10px 10px 10px;
    height: 100%;
    width: 100%;
}

canvas {
    border: 1px solid black;
    margin: 8px;
}

.resize {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    resize: both;
    overflow: auto;
    background-color: white;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 7px;
}